<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Proximity</h1>
    Your current position : {{location}}
    <br>
    <ion-list>
	  <ion-item ng-repeat="profile in profiles" href="#/app/profil_details/{{profile.id_fb}}">
	  	<div style="float:left;">
        <img src="http://graph.facebook.com/{{profile.id_fb}}/picture?width=50&height=50"/>
	    </div>
      <div>
	     Hello, {{profile}}!
      </div>
	  </ion-item>
	</ion-list>

  </ion-content>
</ion-view>
